.selector_post{
    justify-content: center;
    align-content: center;
   }
.contaier{
    border: 3px solid red;
}

.post-header{
    display: flex;
}

.row_collage{
    padding: 3%;
    border: 3px;
}

.post-img{
    width: 500px;
    height: 400px;
    padding: 2%;
    overflow: hidden;

}

.ph_local{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fila_row_img{
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo_instagram{
      margin: 0 1.5% 0 0;
}

.img_collage{
    width: 330px;
    height: 450px;
    overflow: hidden;
}

.boton_selector{
    
    justify-items: center;
    justify-content: center;
    margin-bottom: 5%;
    padding: 10px;
}